<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>RegistrAPP</h1>

  <ion-item>
    <ion-input label="Nombre de Usuario" labelPlacement="stacked"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Contraseña" labelPlacement="stacked" type="password" value="password"></ion-input>
  </ion-item>

  <ion-button expand="block" size="small">INGRESAR</ion-button>

  <h6>¿Olvidó su contraseña?</h6>

</ion-content>
