<ion-header [translucent]="false">
  <img src="../../assets/img/Logouc.PNG">
  
</ion-header>

<ion-content [fullscreen]="true">

  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  
  <h1>Registr<span class="highlighted-word">APP</span></h1>

  <ion-card>
    <ion-input [(ngModel)]="user.usuario" label="Usuario" label-placement="floating" fill="outline" placeholder="Enter text" maxlength="25" minlength="3"></ion-input>
    <ion-input [(ngModel)]="user.pass" label="Contraseña" label-placement="floating" fill="outline" placeholder="Enter text" type="password" maxlength="4"></ion-input>
  </ion-card>

  <ion-button size="small" (click)="enviarPerfil()">INGRESA</ion-button>
  <br><br>
  <a [routerLink]="['/recover']">¿Olvidó su contraseña?</a>

</ion-content>
