*{
    text-align: center;
}

ion-content {
    --background: #021F36;
    --color: #ffffff;
}

h1 {
    text-align: center;
}

img {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 70px;
}

ion-item {
    padding-left: 20px;
    padding-right: 20px;
    
    font-size: 20px;

    --background: #021F36;
    --color: #ffffff;
}

ion-button {
    --background: #FFB719;

    --color: #000000;

    margin: auto;
    margin-top: 20px;

    height: 10px;
    width: 100px;
}

h6 {
    text-align: center;
}

.highlighted-word {
    color: #FFB719; 
}

a {
    justify-content: center;
}

ion-card {
    --background: #021F36;
    --color: #ffffff;
}

