<ion-header [translucent]="false">
  <ion-img src="http://www2.duoc.cl/sites/default/files/logo-2019-.png">
  </ion-img>
</ion-header>

<ion-content [fullscreen]="true">

  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  
  <h1>Registr<span class="highlighted-word">APP</span></h1>

  <ion-card>
    <ion-input [(ngModel)]="user.usuario" label="User" label-placement="floating" fill="outline" placeholder="Enter text" maxlength="8" minlength="3"></ion-input>
    <ion-input [(ngModel)]="user.pass" label="Password" label-placement="floating" fill="outline" placeholder="Enter text" type="password" maxlength="4"></ion-input>
  </ion-card>

  <ion-button size="small" (click)="enviarPerfil()">INGRESA</ion-button>
  <br><br>
  <a [routerLink]="['/recover']">¿Olvidó su contraseña?</a>

</ion-content>
