<ion-header [translucent]="false">
  <img src="../../assets/img/Logouc.PNG"/>
  
</ion-header>
<ion-content [fullscreen]="true" >
  
  <h1>Bienvenido/a <span class="highlighted-word">{{user.usuario}}</span></h1>
  <br>

  <ion-card class="ion-text-center"> 
    <ion-card-content> 
      <qrcode
        [qrdata]="qrCodeString" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">
      </qrcode>
    <ion-card-content>
  <ion-card>
  

  <h2>Registra la asistencia <span class="highlighted-word">aquí</span></h2>

  
  <ion-img id="imagen2"src="assets/flechas.jpg">
  </ion-img>

  <ion-button expand="block" size="small">Mostrar QR </ion-button>

  

<ion-content>