*{
    text-align: center;
}

ion-header {
    --background: #021F36;
    --color: #021F36;
    
}

ion-content {
    position: relative;
    --background: #021F36;
    --color: #ffffff;
}

h1 {
    text-align: center;
}

img {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 70px;
}

h2 {
    text-align: center;
}


.highlighted-word {
  color: #FFB719; /* Color deseado para la palabra "aquí" */
}


ion-button {
    --background: #FFB719;

    --color: #000000;

    margin: auto;
    margin-top: 20px;

    height: 10px;
    width: 210px;
}

