+<ion-header [translucent]="false">
    <ion-img src="http://www2.duoc.cl/sites/default/files/logo-2019-.png">
    </ion-img>
  </ion-header>
  <ion-content [fullscreen]="true">
    
    <h1>Bienvenido/a {{user.usuario}}</h1>

    <br>
    <br>

    <h2>Registra tu asistencia <span class="highlighted-word">aquí</span></h2>

    
    <ion-img id="imagen2"src="assets/flechas.jpg">
    </ion-img>
  
    <ion-button expand="block" size="small">REGISTRAR ASISTENCIA </ion-button>
  
    
  
  </ion-content>