<ion-header>
  <img src="../../assets/img/Logouc.PNG"/>
</ion-header>
<ion-content [fullscreen]="true" [style.visibility]="content_visibility">
  
<h1>Bienvenido/a <span class="highlighted-word">{{nom}}</span></h1>

  <br>

  <h2>Registra tu asistencia <span class="highlighted-word">aquí</span></h2>

<ion-button
  expand="block"
  class="ion-margin" 
  (click)= "startScan()">
  Registrar asistencia
</ion-button>

<ion-item *ngIf="scannedResult">
  <ion-label class="ion-text-wrap">{{scannedResult}}</ion-label>
</ion-item>

  

<ion-content>